.aparat{

 margin: -5px 0px 0px 0px;

}


.f14{


    font-size: 14px;

}


.col-1{


    color: #a3dcff;

}

.newsletter{

    margin: 18px 0px 0px 0px;

}


.tc{


    text-align: center;font-size: 15px;


}

.txt-color{


    color: #5495a7;
}



.txt-color2{
    color: #447a89;font-size: 20px bold;

}


.p-w3{

    margin:4px 10px 0px 0px;

}